---
# 解压安装包
- name: unzip package
  win_shell:
    .\{{sqlserver_name}}.exe /q
  args:
    chdir: C:\temp

## 安装
- name: Copy ConfigurationFile.ini
  win_template:
    src: ConfigurationFile_2014.ini.j2
    dest: C:\temp\SQLEXPRADV_x64_{{sqlserver_language}}\ConfigurationFile.ini

- name: Install SQLServer2014SP3
  win_shell:
    .\SETUP.EXE /CONFIGURATIONFILE=ConfigurationFile.ini
  args:
    chdir: C:\temp\SQLEXPRADV_x64_{{sqlserver_language}}

## 快捷方式
- name: Create SSMS lnk
  win_shortcut:
    src: C:\Program Files (x86)\Microsoft SQL Server\120\Tools\Binn\ManagementStudio\Ssms.exe
    dest: C:\Users\Public\Desktop\SQL Server 2014 Management Studio.lnk
    icon: C:\Program Files (x86)\Microsoft SQL Server\120\Tools\Binn\ManagementStudio\ssms.ico